* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	/*font-family: 'Lato', 'Arial', sans-serif;*/
	font-family: 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

.row {
	/*max-width: 1080px;*/
	width: 90%;
	margin: 0 auto;
}

.clear-fix {
	zoom:1;
}

.clear-fix::after {
	content: "";
	visibility: hidden;
	clear: both;
	height: 0;
	display: block;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none; 
	border-radius: 100px; 
	color: #fff;
}

.btn-full {
	background-color: #e67e22;
	border: 1px solid #e67e22; 
}

.btn-shadow {
	border: 1px solid #e67e22; 
	color: #e67e22; 
}


/* 
**  Header 
*/
header {
	background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url(../img/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

header .hero-text-box {
	position: absolute;
	width: 55%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header h1 {
	margin: 0;
	color: #fff;
	font-size: 240%;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 10px;
	letter-spacing: 1px;
	word-spacing: 3px;
}


header #main-nav #logo, 
header .sticky #main-nav #logo-black {
	height: 50px;
	float: left;
	margin: 5px 0;
	display: block;
}

header #main-nav #logo-black {
	display: none;
}

header #main-nav ul {
	float: right;
	margin-top: 15px;
	line-height: 30px;
}

header #main-nav ul li {
	list-style: none;
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}

header #main-nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: .9em;
	text-transform: uppercase;
	padding: 2px 0; 
}

header #main-nav ul li a:hover,
header #main-nav ul li a:active {
	border-bottom: 2px solid #e67e22; 
	transition: border-bottom .2s;
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255,255, 0.98);
	border-bottom: 1px solid #ccc;
	z-index: 200;
}

header .sticky #main-nav ul {
	margin-top: 15px;
	line-height: 30px;
}

header .sticky #main-nav ul li a {
	color: #888;
}

header .sticky #main-nav #logo-black {
	height: 50px;
	float: left;
	margin: 5px 0;
	display: block;
}

header .sticky #main-nav #logo {
	display: none;
}

/*
** Section features
*/
h2 {
	text-align: center;
	margin-top: 80px;
	font-weight: 100;
}

h2::after {
	content: "";
	width: 100px;
	height: 2px;
	background-color: #e67e22;
	margin-top: 50px; 
	display: block;
	margin: 25px auto 0 auto;
}

section#features #feature-main-text {
	width: 70%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

section#features .col {
	margin-top: 80px;
}

section#features .col h3 {
	font-weight: 100;
}

section#features .col p {
	margin-top: 25px;
} 


/*
** Section meals-photo
*/
section#meals-photo {
	margin-top: 80px;
}

section#meals-photo ul {
	width: 100%;
	margin: 0;
}

section#meals-photo ul li {
	width: 25%;
	display: block;
	float: left;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

section#meals-photo ul li img {
	width: 100%;
	margin: 0;
	transform: scale(1.05);
	transition: transform 1.0s, opacity 1.0s;
	opacity: 0.7;
}

section#meals-photo ul li img:hover {
	width: 100%;
	margin: 0;
	transform: scale(1.15);
	opacity: 1.0;
}

/*
** Section How it works
*/
section#how-it-works {
	background-color: #f4f4f4;
	padding-bottom: 50px;
}

section#how-it-works .col {
	margin-top: 50px;
} 

section#how-it-works #main-image img {
	width: 40%;
	float: right;
	margin-right: 3%;
} 

section#how-it-works #steps div {
	margin-left: 3%;
} 

section#how-it-works #steps div {
	margin-top: 50px; 
}

section#how-it-works #steps h3 {
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #e67e22; 
	color: #e67e22; 
	float: left;
	margin-right: 20px;
} 

section#how-it-works #steps .btn-app img {
	height: 50px; 
	margin-right: 20px; 
	margin-top: 25px;
}

/*
** Section cities
*/
section#cities {
	padding-bottom: 50px;
} 

section#cities .col {
	margin-top: 50px;
} 

section#cities .col img {
	width: 100%;
} 

section#cities .col h3 {
	margin-top: 25px;
	margin-bottom: 25px;
} 

section#cities .city-info:first-child {
	margin-top: 25px;
} 

section#cities .city-info {
	margin-top: 5px;
} 

section#cities .city-info i {
	color: #e67e22;
	font-size: 120%;
	margin-right: 15px;
} 

section#cities .city-info a {
	color: #e67e22;
	text-decoration: none;
} 

section#cities .city-info a:hover {
	cursor: pointer;
}

/*
** Section testimonials
*/
section#testimonials {
	padding-bottom: 50px;
	background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url(../img/back-customers.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
}

section#testimonials .col {
	margin-top: 50px;
} 

blockquote {
	font-style: italic;
	line-height: 140%;
}

blockquote cite {
	display: block;
	margin-top: 50px;
}

blockquote cite img {
	width: 50px;
	border-radius: 50%; 
	vertical-align: middle;
	margin-right: 20px;
}


/*
** Section testimonials
*/
section#plans {
	padding-bottom: 50px;
	background-color: #f4f4f4;
}

section#plans .col{
	margin-top: 50px;
} 

section#plans .col .box {
	width: 90%;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 30px 25px 30px;
	border-radius: 10px;
} 

section#plans .col .box div {
	text-align: center;
}

section#plans .col .box div a:hover {
	cursor: pointer;
}

section#plans h3 {
	margin-top: 25px;
	margin-bottom: 25px;
} 

section#plans .price {
	font-size: 2.0em;
	color: #e67e22; 
	margin-bottom: 20px;
	display: inline-block;
	font-weight: 100;
} 

section#plans ul {
	border-bottom: 3px solid #f4f4f4;
	border-top: 3px solid #f4f4f4;
	padding: 25px 0; 
	margin: 25px 0;
} 

section#plans li {
	list-style: none;
	font-size: .8em;
} 


/*
** Section testimonials
*/
section#form {
	padding-bottom: 50px;
	background-color: #fff;
}

section#form #form-container{
	width: 60%;
	margin: 50px auto;
}
section#form #form-container input[type="text"],
section#form #form-container input[type="email"],
section#form #form-container textarea,
section#form #form-container select {
	width: 100%;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

section#form #form-container label {
	float: right;
	margin-right: 20px;
}

section#form .col{
	margin-top: 10px;
} 


/*
** Footer
*/
footer {
	background-color: #333;
	color: #888;
	padding: 30px 0; 
	font-size: 0.8em;
	line-height: 2.0em;
}

footer .nav-links {
	float: left;
	padding-left: 50px;
} 

footer .social-links {
	float: right;
	padding-right: 50px;
}

footer a {
	text-decoration: none;
	color: #888;
}

footer a:hover {
	color: #fff;
}

footer .fa-facebook:hover {
	color: #3b5998;
	cursor: pointer;
}

footer .fa-twitter:hover {
	color: #00aced;
	cursor: pointer;
}

footer .fa-google-plus:hover {
	color: #dd4b39;
	cursor: pointer;
}

footer .fa-instagram:hover {
	color: #517fa4;
	cursor: pointer;
}

footer li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}

footer li::last-child {
	margin-right: 0px;
}

footer .fa {
	font-size: 1.5em;
}

footer p {
	text-align: center;
	margin-top: 10px;
}
